---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Tingkatkan skillmu dan temukan peluang kerja part-time di Giijia.com
    </title>
    <meta
      name="description"
      content="Tingkatkan Skill, Temukan Peluang: Platform Informasi Pelatihan Berkualitas & Lowongan Part-Time Giijia.com"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans bg-gray-100">
    <main class="max-w-screen-xl mx-auto">
      <header>
        <nav class="py-4">
          <div class="text-center underline">Giijia.com</div>
        </nav>
        <article class="max-w-screen-lg mx-auto my-40 px-4 text-center">
          <h1 class="text-6xl font-bold mb-4">
            Tingkatkan skill, temukan peluang.
          </h1>
          <p class="text-2xl mx-auto mb-10">
            Ikuti pelatihan berkualitas, dan dapatkan lowongan part-time yang
            kamu inginkan.
          </p>
          <button
            class="text-2xl bg-slate-500 px-6 py-4 rounded text-white font-bold"
          >
            Registrasi di sini
          </button>
        </article>
      </header>

      <section>
        <article class="max-w-screen-lg mx-auto px-4 my-32">
          <h2 class="text-4xl font-bold mb-4">
            Mau kerja part-time tapi bingung?
          </h2>
          <p class="text-lg">
            Lowongan kerja part-time itu sebenarnya banyak. Namun, informasinya
            tidak terpusat, dan persyaratan kerjanya membutuhkan skill tertentu.
            Dengan bergabung di Giijia.com, kamu akan mendapatkan kesempatan
            untuk mengikuti banyak pelatihan dan mendapatkan lowongan kerja
            part-time.
          </p>
        </article>
      </section>

      <section>
        <article class="max-w-screen-lg mx-auto px-4 my-20 text-center">
          <h2 class="text-4xl font-bold mb-4">
            Akses pelatihan berkualitas & bersertifikat
          </h2>
          <p class="text-lg mb-8">
            Registrasi ke Giijia.com, dan dapatkan akses ke berbagai macam
            pelatihan berkualitas dan bersertifikat dari
            <b>Kementerian Ketenagakerjaan RI</b>
            dan lembaga terpercaya lainnya.
          </p>
          <ul class="grid grid-cols-4 gap-8">
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Pramusaji</p>
            </li>
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Customer Service Admin</p>
            </li>
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Cleaning Service</p>
            </li>
            <li class="self-center">
              <p class="text-lg">
                Dan masih banyak lagi pelatihan-pelatihan lainnya
              </p>
            </li>
          </ul>
        </article>
      </section>

      <section>
        <article class="max-w-screen-lg mx-auto px-4 my-20 text-center">
          <h2 class="text-4xl font-bold mb-4">
            Fokus terhadap ekosistem UMKM lokal
          </h2>
          <p class="text-lg mb-8">
            Giijia.com berusaha menyediakan pelatihan dan lowongan part-time
            yang dapat mengakomodasi kebutuhan UMKM di daerah. Pengembangan
            layanan pada platform ini akan dilakukan secara bertahap per kota
            dan kabupaten.
          </p>
          <ul class="grid grid-cols-4 gap-8">
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Kota Bogor</p>
            </li>
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Kabupaten Bogor</p>
            </li>
            <li>
              <div class="w-full bg-slate-300 rounded h-40 mb-2"></div>
              <p class="text-lg">Kota Bandung</p>
              <p>(segera hadir)</p>
            </li>
            <li class="self-center">
              <p class="text-lg">
                Kota dan kabupaten lainnya juga akan segera hadir
              </p>
            </li>
          </ul>
        </article>
      </section>

      <section>
        <article class="max-w-screen-lg mx-auto px-4 my-20 text-center">
          <p class="text-lg mb-4">
            Segera bergabung! Tingkatkan skill dan peluang part-timemu dengan
            Giijia.com.
          </p>
          <button
            class="text-2xl bg-slate-500 px-6 py-4 rounded text-white font-bold"
          >
            Registrasi di sini
          </button>
        </article>
      </section>
    </main>
    <footer class="bg-gray-400">
      <div class="max-w-screen-lg mx-auto px-4 py-8">
        <p class="text-center">© Giijia.com 2024. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
