---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      Tingkatkan skillmu dan temukan peluang kerja part-time di Giijia.com
    </title>
    <meta
      name="description"
      content="Tingkatkan Skill, Temukan Peluang: Platform Informasi Pelatihan Berkualitas & Lowongan Part-Time Giijia.com"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans max-w-screen-xl mx-auto bg-gray-100">
    <main>
      <header>
        <nav class="py-4">
          <div class="text-center underline">Giijia.com</div>
        </nav>
        <article class="max-w-screen-lg mx-auto my-40 px-4 text-center">
          <h1 class="text-6xl font-bold mb-4">
            Tingkatkan skill, temukan peluang.
          </h1>
          <p class="text-2xl mx-auto mb-10">
            Ikuti pelatihan berkualitas, dan dapatkan lowongan part-time yang
            kamu inginkan.
          </p>
          <button
            class="text-2xl bg-slate-500 px-6 py-4 rounded text-white font-bold"
            >Registrasi di sini</button
          >
        </article>
      </header>
      <section>
        <article class="max-w-screen-lg mx-auto px-4 mb-20">
          <h2 class="text-4xl font-bold mb-4">
            Mau kerja part-time tapi bingung?
          </h2>
          <p class="text-lg">
            Lowongan kerja part-time itu sebenarnya banyak. Namun, informasinya
            tidak terpusat, dan persyaratan kerjanya membutuhkan skill tertentu.
            Dengan bergabung di Giijia.com, kamu akan mendapatkan akses ke
            banyak pelatihan bersertifikat dan lowongan kerja part-time.
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
